@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MOVIE STORE</h1>
    <p class="lead">Movie Store is a Store which has a wide range of Movies. You name it and we will have the Movie for You!</p>
    <p><a href="http://www.imdb.com/" class="btn btn-primary btn-lg">Take a Look  &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
          The Movie Store consists of wide range of movies. The Store collects movies on the basis of genres. The Customer can 
          view from different genres like Action, Adventure, Horror, Comedy ETC.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>